body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 30px;
}

.onno-color {
    color: rebeccapurple;
}

.flex-container {
    display: flex;
    margin-bottom: 100px;
}

.first-half {
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;

}

.first-half img {
    width: 80%;
    padding-top: 5%;
}

.button {
    text-decoration: none;
    color: black;
    font-weight: 700;
    background-image: linear-gradient(orange, yellow);
    padding: 10px 30px;
    border-radius: 10px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.sec3 {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.db {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.shadow-rel {
    box-shadow: 10px 10px 30px violet;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

#wd-dev{
    border-right: 7px solid;
    border-image: linear-gradient(orange yellow);
    border-image-slice: 1;

}
#fst{
    border-right: 7px solid;
    border-image: linear-gradient(orange yellow);
    border-image-slice: 1;   
}

footer p {
    text-align: center;
}